accelerate
teradataml
numpy
typing-extensions
pandas
matplotlib
scikit-learn
python-dotenv
sentence-transformers
huggingface-hub
nltk
dill
openpyxl
tiktoken
protobuf
sentencepiece
sacremoses
chardet
swifter
bitsandbytes
streamlit
langid
joblib
xgboost
safetensors
langchain
langgraph
transformers
huggingface_hub
langchain-huggingface
vllm